@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

*{
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(145deg, #083CDA, #099D13); */
}

#root {
    height: 100%;
}

.menu {
    height: 100%;
}

.container{
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    padding: 2em 2em 0.5em 2em;
    box-sizing:border-box;
    background: url('../../img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 80%; */
}

.intro {
    position: relative;
    height: 100%;
    background: #34495e;
    padding: 1em;
    box-sizing:border-box;
    animation-name: dropAnimation;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.name {
    position: absolute;
    /* margin: auto; */
    font-family: 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 3.2em;
    line-height: 1.3;
    font-weight: 300;
    top: 100%;
    opacity: 0;
    box-sizing: border-box;
    animation-name: elevateAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.name-div {
    position: relative;
    margin: 0 auto;
    box-sizing:border-box;
    height: 100px;
}

.title {
    position: absolute;
    /* margin: auto; */
    font-family: 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 2.5em;
    line-height: 1.3;
    font-weight: 300;
    top: 100%;
    opacity: 0;
    box-sizing: border-box;
    animation-name: elevateAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.proj-el {
    position: relative;
    /* margin: auto; */
    font-family: 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 1.8em;
    line-height: 1.3;
    font-weight: 250;
    top: 100%;
    opacity: 0;
    box-sizing: border-box;
    animation-name: elevateAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition: all 0.3 ease-out;
}

.proj-el:hover {
    left: 10px;
    cursor: pointer;
}

#git:hover {
    cursor: pointer;
    color: #bbb;
}

.title-div {
    position: relative;
    margin: 10 auto;
    box-sizing:border-box;
    height: 75px;
}

.project-div {
    position: relative;
    margin: 10 auto;
    box-sizing:border-box;
    height: 75px;
}

.projects-div {
    position: relative;
    margin: 10 auto;
    box-sizing:border-box;
    height: 100px;
    padding-left: 2em;
}

.pageContainer {
    position: relative;
    /* background: white; */
    height: 94%;
    width: 85%;
    margin: auto;
    box-sizing:border-box;
}

.page {
    position: absolute;
    height: 100%;
    width: 100%;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

.preview {
    position: relative;
    height: 100%;
    width: 100%;
    border: 0;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.index {
    position: relative;
    margin: 10px auto;
    width: 150px;
    text-align: center;
}

.buttonDot {
    height: 15px;
    width: 15px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    outline: none;
    margin: 5px;
    border: 0;
    cursor: pointer;
    transition: all .3s ease-out;
}

.buttonDot:hover {
    background-color: #777;
}

.buttonDot:focus {
    background-color: #8397fb;
}

@keyframes fadeOut {
    0%   {opacity: 1;}
    20%  {opacity: 0.8;}
    40%  {opacity: 0.6;}
    60%  {opacity: 0.4;}
    80%  {opacity: 0.2;}
    100% {opacity: 0; display: none;}
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    20%  {opacity: 0.2;}
    40%  {opacity: 0.4;}
    60%  {opacity: 0.6;}
    80%  {opacity: 0.8;}
    100% {opacity: 1; display: block;}
}

@keyframes dropAnimation {
    0%  {height: 0%; background: transparent}
    25% {height: 25%;}
    50% {height: 50%;}
    75% {height: 75%;}
    100% {height: 100%;}
}

@keyframes elevateAnimation {
    0%  {top: 100%; opacity: 0;}
    25% {top: 75%;}
    50% {top: 50%;}
    75% {top: 25%;}
    100% {top: 0%; opacity: 1}
}
